/* Estilos para la scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #88888898; /* Color del pulgar de la scrollbar */
  border-radius: 6px; /* Bordes redondeados */
  width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color al pasar el mouse por encima */
}

::-webkit-scrollbar-track {
  background: #f1f1f114; /* Color del fondo de la scrollbar */
}

